@charset "UTF-8";


/* General layout */
body {
	font-size: 16px;
	overflow-y: scroll;
}
main.container {
	margin-top:50px;
	padding: 0 25px;
}
/* End general layout */


/* Navbar */
header.navbar-custom {
	background-color: #0d3e8c;
	-webkit-font-smoothing: antialiased;
}
header.navbar-custom .navbar-brand {
	color: #FFF;
}
/* End navbar */


/* Carousel */
.carousel-section{
	background-image:url('../images/landscape1.jpg');
	backgound-size:cover;
	height:344px;
}
.carousel .container {
	position: relative;
	z-index: 9;
}
.carousel-control {
	height: 80px;
	margin-top: 0;
	font-size: 120px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
	z-index: 10;
}
.carousel .item {
	height: 344px;
}
.carousel-caption {
	background-color: transparent;
	position: static;
	padding: 0 10px;
	margin-top: 50px;
}
.carousel-caption h1,  .carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
/* End carousel */


/* Footer */
footer.custom-footer{
	color:#000;
	background-color:#999;
	padding:10px;
	margin-top:50px;
}
footer.custom-footer a:link {
	color: #000;
}
footer.custom-footer a:visited {
	color: #000;
}
footer.custom-footer a:active {
	color: #000;
}
footer.custom-footer a:hover {
	color: #000;
}
/* End footer */


/* Equipment owners */
.owner-details, .dealer-details {
	display: none;
	margin: 10px 20px;
	background-color: #CCC;
	padding: 20px;
}
/* End equipment owners */
