@charset "UTF-8";


/* General layout */
body {
	font-size: 16px;
	overflow-y: scroll;
}
main.container {
	margin-top:50px;
	padding: 0 25px;
}
/* End general layout */


/* Navbar */
header.navbar-custom {
	background-color: #0d3e8c;
	-webkit-font-smoothing: antialiased;
}
header.navbar-custom .navbar-brand {
	color: #FFF;
}
/* End navbar */


/* Hero image */
section.hero {
	width: 100%;
	margin-top: 50px;
	height: 344px;
	overflow: hidden;
	background-size:cover;
}
/* End hero image */


/* Carousel */
section.carousel {
	max-width: 1150px;
	margin: 50px auto 0 auto;
	height:344px;
}
section.carousel .item {
	height: 344px;
	overflow: hidden;
	background-size:cover;
	background-position: center; 
}
/* End carousel */


/* Footer */
footer.custom-footer{
	color:#000;
	background-color:#999;
	padding:10px;
	margin-top:50px;
}
footer.custom-footer a:link {
	color: #000;
}
footer.custom-footer a:visited {
	color: #000;
}
footer.custom-footer a:active {
	color: #000;
}
footer.custom-footer a:hover {
	color: #000;
}
/* End footer */


/* Equipment owners */
.owner-details, .dealer-details {
	display: none;
	margin: 10px 20px;
	background-color: #CCC;
	padding: 20px;
}
/* End equipment owners */
